[Desktop Entry]
Type=Application

Name=AutoClicker for Linux
GenericName=An automatic clicking utility
Icon=autoclickerlinux

Exec=autoclickerlinux
StartupWMClass=autoclickerlinux
